@model IEnumerable<WebForm.ThamQuan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThuTu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaDiem.TenDiaDiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourDuLich.TenGoi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThuTu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaDiem.TenDiaDiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourDuLich.TenGoi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
